input {
    keyboard {
        xkb {
            layout "fr,us"
            options "grp:win_space_toggle,compose:caps"
        }
    }

    touchpad {
        tap
        natural-scroll
    }
}

layout {
    gaps 10

    default-column-width { proportion 0.5; }

    focus-ring {
        off
    }

    border {
        width 2

        active-color "#f5c2e7"
        inactive-color "#585b70"
    }

    insert-hint {
        color "#f5c2e7b1"
    }
}

spawn-at-startup "waybar"
spawn-at-startup "mako"
spawn-sh-at-startup "swaybg -i ~/Pictures/Wallpapers/grandfather_tree.jpg"

cursor {
    xcursor-theme "catppuccin-mocha-red-cursors"
    xcursor-size 24
}

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=30 y=30 relative-to="bottom-right"
    open-focused false
}

window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}

layer-rule {
    match namespace="waybar"
    match namespace="^launcher$"
    match namespace="^notifications$"

    background-effect {
        blur true
        xray false
    }
}

layer-rule {
    match namespace="waybar"
    geometry-corner-radius 8
}

binds {
    Mod+Shift+Colon { show-hotkey-overlay; }

    Mod+T { spawn "foot"; }
    Mod+D { spawn "fuzzel"; }
    Mod+E { spawn "thunar"; }
    Super+Alt+L { spawn "swaylock"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%+ -l 1.5 && ~/.config/niri/scripts/volume.sh"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%- && ~/.config/niri/scripts/volume.sh"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle && ~/.config/niri/scripts/volume.sh"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86MonBrightnessUp   allow-when-locked=true { spawn-sh "brightnessctl --class=backlight set +5% && ~/.config/niri/scripts/brightness.sh"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "brightnessctl --class=backlight set 5%- && ~/.config/niri/scripts/brightness.sh"; }

    Mod+O repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Right { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+End  { move-column-to-last; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+Shift+Page_Down { move-column-to-workspace-down; }
    Mod+Shift+Page_Up   { move-column-to-workspace-up; }

    Mod+ampersand { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+quotedbl { focus-workspace 3; }
    Mod+apostrophe { focus-workspace 4; }
    Mod+parenleft { focus-workspace 5; }
    Mod+minus { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+underscore { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+ampersand { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+quotedbl { move-column-to-workspace 3; }
    Mod+Shift+apostrophe { move-column-to-workspace 4; }
    Mod+Shift+parenleft { move-column-to-workspace 5; }
    Mod+Shift+minus { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+underscore { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+Comma     { consume-window-into-column; }
    Mod+Semicolon { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-column-width-back; }

    Mod+Ctrl+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+M { maximize-window-to-edges; }

    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    Mod+Ctrl+C { center-visible-columns; }

    Mod+6 { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+6 { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }

    Mod+Shift+P { power-off-monitors; }
}
